<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заказы</title>
</head>

<body>
<a th:href="@{/cart/items}" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a th:href="@{/main/items}" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="order : ${orders}">
        <td>
            <h2>
                <a th:text="${'Заказ №'+order.getId()}" th:href="@{/orders/{id}(id=${order.getId()})}"></a>
            </h2>
            <table>
                <tr th:each="item : ${order.getOrderItems()}">
                    <td th:text="${item.getProduct().getTitle()+' ('+item.getAmount()+' шт.) '+(item.getPrice()*item.getAmount())+' руб.'}"></td>
                </tr>
            </table>
            <p>
                <b th:text="${'Сумма: '+order.getTotalSum()}+' руб.'"></b>
            </p>
        </td>
    </tr>
</table>
</body>

</html>