<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заказ</title>
</head>

<body>
<a th:href="@{/orders}" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a th:href="@{/cart/items}" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a th:href="@{/main/items}" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<h1 style="text-align:center" th:if="${newOrder}">Поздравляем! Успешная покупка! &#128578;</h1>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <h2 th:text="${'Заказ №'+order.getId()}"></h2>
        </td>
    </tr>
    <tr th:each="item : ${order.getOrderItems()}">
        <td>
            <table>
                <tr>
                    <td>
                        <a th:href="@{/items/{id}(id=${item.getProduct().getId()} )}">
                            <img width="300" height="300" th:src="${'http://localhost:8080/shop/static/'+item.getProduct().getImage()}">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.getProduct().getTitle()}"></b>
                    </td>
                    <td>
                        <b th:text="${item.getAmount()}+' шт.'"></b>
                    </td>
                    <td>
                        <b th:text="${item.getPrice()*item.getAmount()}+' руб.'"></b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <h3 th:text="${'Сумма: '+order.getTotalSum()}+' руб.'"></h3>
        </td>
    </tr>
</table>
</body>

</html>